web/WEB-INF/wsdl/gfish.it.ilstu.edu_8080/ISUGoogleMaps/ISUGoogleMapsService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://ISU/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ISU/">

<xs:element name="getDirectionsByCityState" type="tns:getDirectionsByCityState"/>

<xs:element name="getDirectionsByCityStateResponse" type="tns:getDirectionsByCityStateResponse"/>

<xs:element name="getDirectionsByLatLong" type="tns:getDirectionsByLatLong"/>

<xs:element name="getDirectionsByLatLongResponse" type="tns:getDirectionsByLatLongResponse"/>

<xs:complexType name="getDirectionsByLatLong">
<xs:sequence>
<xs:element name="StartLocationLat" type="xs:double"/>
<xs:element name="StartLocationLong" type="xs:double"/>
<xs:element name="EndLocationLat" type="xs:double"/>
<xs:element name="EndLocationLong" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDirectionsByLatLongResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDirectionsByCityState">
<xs:sequence>
<xs:element name="StartLocationCity" type="xs:string" minOccurs="0"/>
<xs:element name="StartLocationState" type="xs:string" minOccurs="0"/>
<xs:element name="EndLocationCity" type="xs:string" minOccurs="0"/>
<xs:element name="EndLocationState" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDirectionsByCityStateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>